server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://db-payments:5432/paymentsdb
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

feign:
  client:
    config:
      default:
        http-method-retry-enabled: true